<div class="admin-header">
  <div>
    <h1>Manage Orders</h1>
    <p>View and update all customer product orders.</p>
  </div>
</div>

<p *ngIf="isLoading">
  Loading orders...
</p>

<p *ngIf="!isLoading && orders.length === 0">
  No orders found.
</p>

<div class="orders-table" *ngIf="!isLoading && orders.length > 0">

  <table>
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Customer</th>
        <th>Product</th>
        <th>Amount</th>
        <th>Payment</th>
        <th>Status</th>
        <th>Update</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let order of orders; trackBy: trackByOrder">

        <td>
          #{{ order._id.slice(-6).toUpperCase() }}
        </td>

        <td>
          {{ order.customerName }}
        </td>

        <td>
          {{ getProductNames(order) }}
        </td>

        <td>
          ₹{{ order.totalAmount }}
        </td>

        <td>
          {{ order.paymentStatus }}
        </td>

        <td>
          <span [ngClass]="order.orderStatus.toLowerCase()">
            {{ order.orderStatus }}
          </span>
        </td>

        <td>
          <select
            [ngModel]="order.orderStatus"
            (ngModelChange)="updateStatus(order, $event)">

            <option *ngFor="let status of statuses" [value]="status">
              {{ status }}
            </option>

          </select>
        </td>

      </tr>
    </tbody>
  </table>

</div>