<section class="bookings-page">

  <div class="page-header">
    <h1>My Service Bookings</h1>
    <p>Track all your service requests in one place.</p>

    <a routerLink="/dashboard" class="back-btn">
      ← Back to Dashboard
    </a>
  </div>

  <p *ngIf="isLoading">Loading bookings...</p>

  <p *ngIf="!isLoading && bookings.length === 0">
    No bookings found.
  </p>

  <div class="booking-table" *ngIf="!isLoading && bookings.length > 0">

    <table>

      <thead>
        <tr>
          <th>Booking ID</th>
          <th>Service</th>
          <th>Date</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let booking of bookings">
          <td>
            #{{ booking._id.slice(-6).toUpperCase() }}
          </td>

          <td>
            {{ booking.serviceName }}
          </td>

          <td>
            {{ booking.bookingDate | date:'dd MMM yyyy' }}
          </td>

          <td>
           <span [ngClass]="booking.status.toLowerCase()">
              {{ booking.status }}
            </span>
          </td>

          <td>
            <a
              [routerLink]="['/my-bookings', booking._id]"
              class="view-btn">
              View
            </a>
          </td>
        </tr>
      </tbody>

    </table>

  </div>

</section>