<p *ngIf="isLoading">
  Loading bookings...
</p>

<p *ngIf="!isLoading && bookings.length === 0">
  No bookings found.
</p>

<div class="bookings-table" *ngIf="!isLoading && bookings.length > 0">

  <table>
    <thead>
      <tr>
        <th>Booking ID</th>
        <th>Customer</th>
        <th>Phone</th>
        <th>Service</th>
        <th>Date</th>
        <th>Time</th>
        <th>Status</th>
        <th>Update</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let booking of paginatedBookings; trackBy: trackByBooking">

        <td>
          #{{ booking._id.slice(-6).toUpperCase() }}
        </td>

        <td>{{ booking.customerName }}</td>

        <td>{{ booking.phone }}</td>

        <td>{{ booking.serviceName }}</td>

        <td>{{ booking.bookingDate | date:'dd MMM yyyy' }}</td>

        <td>{{ booking.bookingTime || '-' }}</td>

        <td>
          <span [ngClass]="booking.status.toLowerCase()">
            {{ booking.status }}
          </span>
        </td>

        <td>
          <select
            [ngModel]="booking.status"
            (ngModelChange)="updateStatus(booking, $event)">

            <option *ngFor="let status of statuses" [value]="status">
              {{ status }}
            </option>

          </select>
        </td>

      </tr>
    </tbody>
  </table>

</div>
<app-common-pagination
  *ngIf="!isLoading && totalPages > 1"
  [currentPage]="currentPage"
  [totalPages]="totalPages"
  (pageChange)="changePage($event)">
</app-common-pagination>