<footer class="footer-section">



  <div class="footer-bottom">
    <div class="footer-brand">
      <h2>OM COMPUTERS</h2>
      <p>Professional computer sales, repair and service solutions.</p>
    </div>

    <div class="footer-col">
      <h3>Company</h3>
      <a routerLink="/about">About Us</a>
      <a routerLink="/contact">Contact</a>
      <a routerLink="/services">Services</a>
    </div>

    <div class="footer-col">
      <h3>Repairs</h3>
      <a>Laptop Repair</a>
      <a>Desktop Repair</a>
      <a>Printer Service</a>
    </div>

    <div class="footer-col">
      <h3>Quick Links</h3>
      <a routerLink="/book-service">Book Service</a>
      <a routerLink="/products">Products</a>
      <a routerLink="/my-bookings">My Bookings</a>
    </div>

    <div class="footer-col">
      <h3>Social Media</h3>
      <a>Facebook</a>
      <a>Instagram</a>
      <a>WhatsApp</a>
    </div>
  </div>

  <div class="copyright">
    © 2026 OM Computers. All Rights Reserved.
  </div>

</footer>