.admin-page{
  display:flex;
  min-height:100vh;
  background:#eef4ff;
}

.admin-sidebar{
  width:260px;
  background:#081126;
  color:#fff;
  padding:30px 20px;
}

.admin-sidebar h2{
  margin-bottom:35px;
}

.admin-sidebar a{
  display:block;
  color:#cbd5e1;
  text-decoration:none;
  padding:14px 16px;
  border-radius:12px;
  margin-bottom:10px;
  font-weight:700;
}

.admin-sidebar a:hover,
.admin-sidebar a.active{
  background:#2563eb;
  color:#fff;
}

.admin-content{
  flex:1;
  padding:35px;
}

.admin-header{
  padding:25px;
  border-radius:20px;
  margin-bottom:25px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.admin-header h1{
  color:#081126;
  margin-bottom:6px;
}

.admin-header p{
  color:#64748b;
}

.admin-header button{
  background:#2563eb;
  color:#fff;
  border:none;
  padding:13px 24px;
  border-radius:10px;
  font-weight:800;
  cursor:pointer;
}

.service-table{
  background:#fff;
  border-radius:20px;
  overflow:hidden;
  box-shadow:0 10px 30px rgba(0,0,0,.08);
}

table{
  width:100%;
  border-collapse:collapse;
}

thead{
  background:#2563eb;
  color:#fff;
}

th,
td{
  padding:16px;
  text-align:left;
  border-bottom:1px solid #e5e7eb;
}

td img{
  width:70px;
  height:60px;
  object-fit:contain;
}

.active-status{
  background:#dcfce7;
  color:#15803d;
  padding:6px 12px;
  border-radius:20px;
  font-size:13px;
  font-weight:800;
}

.edit,
.delete{
  border:none;
  padding:8px 14px;
  border-radius:8px;
  cursor:pointer;
  font-weight:700;
  margin-right:8px;
}

.edit{
  background:#dbeafe;
  color:#2563eb;
}

.delete{
  background:#fee2e2;
  color:#dc2626;
}

@media(max-width:900px){
  .admin-page{
    flex-direction:column;
  }

  .admin-sidebar{
    width:100%;
  }

  .admin-header{
    flex-direction:column;
    align-items:flex-start;
    gap:15px;
  }

  .service-table{
    overflow-x:auto;
  }

  table{
    min-width:800px;
  }
}
.add-btn{
  display: inline-block;
  background: #2563eb;
  color: #ffffff;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 700;
  transition: all 0.3s ease;
  box-shadow: 0 8px 20px rgba(37, 99, 235, 0.25);
}

.add-btn:hover{
  background: #1d4ed8;
  transform: translateY(-2px);
  box-shadow: 0 12px 25px rgba(37, 99, 235, 0.35);
}

.add-btn:active{
  transform: scale(0.98);
}