<div class="admin-header">
  <h1></h1>
<a routerLink="/admin/services/add" class="add-btn">
    + Add Service
  </a>
</div>

<p><strong>Total Services:</strong> {{ services.length }}</p>

<div *ngIf="isLoading">
  Loading services...
</div>

<div class="service-table" *ngIf="!isLoading">
  <table>
    <thead>
      <tr>
        <th>Image</th>
        <th>Service</th>
        <th>Category</th>
        <th>Duration</th>
        <th>Price</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let service of paginatedServices; trackBy: trackByService">
        <td>
          <img
            [src]="service.image ? imageBaseUrl + service.image : 'assets/images/categories/laptop.png'"
            alt="Service Image">
        </td>

        <td>{{ service.name }}</td>
        <td>{{ service.category }}</td>
        <td>{{ service.duration || '-' }}</td>
        <td>₹{{ service.price }}</td>

        <td>
          <span class="active-status">
            {{ service.isActive ? 'Active' : 'Inactive' }}
          </span>
        </td>

        <td>
          <button
            class="edit"
            [routerLink]="['/admin/services/edit', service._id]">
            Edit
          </button>

          <button
            class="delete"
            (click)="deleteService(service._id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
   

</div>
   <app-common-pagination
  *ngIf="!isLoading && totalPages > 1"
  [currentPage]="currentPage"
  [totalPages]="totalPages"
  (pageChange)="changePage($event)">
</app-common-pagination>
