.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 40px;
  background-color: #0f172a;
  color: white;
  position: relative;
  z-index: 999;
}
nav {
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  color: #38bdf8;
}
.header-right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.login-btn{
    background:#2563eb;
    color:#fff;
    padding:10px 22px;
    border-radius:8px;
    text-decoration:none;
    font-weight:600;
}

.login-btn:hover{
    background:#1d4ed8;
}

.profile-menu {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding-bottom: 15px;
}
.profile-menu:hover .dropdown,
.dropdown:hover {
  display: block;
}
.profile-icon{
    width:42px;
    height:42px;
    border-radius:50%;
    cursor:pointer;
}

.dropdown {
  position: absolute;
  right: 0;
  top: 42px;
  width: 220px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  display: none;
  padding: 15px;
  z-index: 1000;
}

.profile-menu:hover .dropdown{
    display:block;
}

.dropdown p{
    font-weight:700;
    color:#111827;
    margin-bottom:10px;
}

.dropdown a{
    display:block;
    padding:10px 0;
    text-decoration:none;
    color:#374151;
}

.dropdown a:hover{
    color:#2563eb;
}
.register-btn {
  background: #38bdf8;
  color: #0f172a;
  padding: 10px 22px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 700;
}
.account-btn {
  background: #38bdf8;
  color: #0f172a;
  border: none;
  border-radius: 8px;
  padding: 10px 22px;
  font-weight: 700;
  cursor: pointer;
  margin: 0;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logout-btn {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  text-align: left;
  color: #374151;
  cursor: pointer;
}

.logout-btn:hover {
  color: #2563eb;
}