<header class="header">

  <div class="logo">
    <h2>OM Computers</h2>
  </div>

 <nav [class.mobile-open]="mobileMenuOpen">

  <a routerLink="/" (click)="mobileMenuOpen=false"
     routerLinkActive="active-link"
     [routerLinkActiveOptions]="{exact:true}">
    Home
  </a>

  <a routerLink="/products"
     (click)="mobileMenuOpen=false"
     routerLinkActive="active-link">
    Products
  </a>

  <a routerLink="/services"
     (click)="mobileMenuOpen=false"
     routerLinkActive="active-link">
    Services
  </a>

  <a routerLink="/about"
     (click)="mobileMenuOpen=false"
     routerLinkActive="active-link">
    About
  </a>

  <a routerLink="/contact"
     (click)="mobileMenuOpen=false"
     routerLinkActive="active-link">
    Contact
  </a>

  <div class="mobile-auth" *ngIf="!isLoggedIn">
  <a routerLink="/login" class="login-btn" (click)="mobileMenuOpen=false">
    Login
  </a>

  <a routerLink="/register" class="register-btn" (click)="mobileMenuOpen=false">
    Register
  </a>
</div>
<div class="mobile-account" *ngIf="isLoggedIn">

  <button
    class="mobile-account-btn"
    (click)="mobileAccountOpen = !mobileAccountOpen">

    My Account ▼

  </button>

  <div
    class="mobile-account-dropdown"
    *ngIf="mobileAccountOpen">

    <a
      routerLink="/my-orders"
      (click)="mobileMenuOpen=false">
      My Orders
    </a>

    <a
      routerLink="/my-bookings"
      (click)="mobileMenuOpen=false">
      My Bookings
    </a>

    <button
      (click)="logout(); mobileMenuOpen=false">
      Logout
    </button>

  </div>

</div>
</nav>

  <!-- Right Side -->

<div class="header-right">

  <!-- Before Login -->
  <ng-container *ngIf="!isLoggedIn">
    <a routerLink="/login" class="login-btn">
      Login
    </a>

    <a routerLink="/register" class="register-btn">
      Register
    </a>
  </ng-container>

  <!-- After Login -->
  <div class="profile-menu" *ngIf="isLoggedIn">

    <button class="account-btn">
      My Account ▼
    </button>

    <div class="dropdown">
      <a routerLink="/my-orders">My Orders</a>
      <a routerLink="/my-bookings">My Bookings</a>

      <button class="logout-btn" (click)="logout()">
        Logout
      </button>
    </div>

  </div>

</div>
<button class="menu-toggle" (click)="mobileMenuOpen = !mobileMenuOpen">
  ☰
</button>
</header>