<header class="header">

  <div class="logo">
    <h2>OM Computers</h2>
  </div>

  <nav>

    <a routerLink="/">Home</a>
    <a routerLink="/products">Products</a>
    <a routerLink="/services">Services</a>
    <a routerLink="/about">About</a>
    <a routerLink="/contact">Contact</a>

  </nav>

  <!-- Right Side -->

<div class="header-right">

  <!-- Before Login -->
  <ng-container *ngIf="!isLoggedIn">
    <a routerLink="/login" class="login-btn">
      Login
    </a>

    <a routerLink="/register" class="register-btn">
      Register
    </a>
  </ng-container>

  <!-- After Login -->
  <div class="profile-menu" *ngIf="isLoggedIn">

    <button class="account-btn">
      My Account ▼
    </button>

    <div class="dropdown">
      <a routerLink="/my-orders">My Orders</a>
      <a routerLink="/my-bookings">My Bookings</a>

      <button class="logout-btn" (click)="logout()">
        Logout
      </button>
    </div>

  </div>

</div>

</header>