<p *ngIf="isLoading">Loading customers...</p>

<p *ngIf="!isLoading && customers.length === 0">
  No customers found.
</p>

<div class="customers-table" *ngIf="!isLoading && customers.length > 0">

  <table>
    <thead>
      <tr>
        <th>Customer ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Role</th>
        <th>Status</th>
        <th>Update Role</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let customer of paginatedCustomers; trackBy: trackByCustomer">
        <td>#{{ customer._id.slice(-6).toUpperCase() }}</td>
        <td>{{ customer.name }}</td>
        <td>{{ customer.email }}</td>
        <td>{{ customer.phone || '-' }}</td>

        <td>{{ customer.role }}</td>

        <td>
          <span
            [class.active-status]="customer.isActive"
            [class.inactive-status]="!customer.isActive">
            {{ customer.isActive ? 'Active' : 'Inactive' }}
          </span>
        </td>

        <td>
          <select
            [ngModel]="customer.role"
            (ngModelChange)="updateRole(customer, $event)">
            <option *ngFor="let role of roles" [value]="role">
              {{ role }}
            </option>
          </select>
        </td>

        <td>
          <button
            class="view-btn"
            (click)="toggleStatus(customer)">
            {{ customer.isActive ? 'Deactivate' : 'Activate' }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
<app-common-pagination
  *ngIf="!isLoading && totalPages > 1"
  [currentPage]="currentPage"
  [totalPages]="totalPages"
  (pageChange)="changePage($event)">
</app-common-pagination>