.admin-page{
  display:flex;
  min-height:100vh;
  background:#eef4ff;
}

.admin-sidebar{
  width:260px;
  background:#081126;
  color:#fff;
  padding:30px 20px;
}

.admin-sidebar h2{
  margin-bottom:35px;
}

.admin-sidebar a{
  display:block;
  color:#cbd5e1;
  text-decoration:none;
  padding:14px 16px;
  border-radius:12px;
  margin-bottom:10px;
  font-weight:700;
}

.admin-sidebar a:hover,
.admin-sidebar a.active{
  background:#2563eb;
  color:#fff;
}

.admin-content{
  flex:1;
  padding:35px;
}

.admin-header{
  background:#fff;
  padding:28px;
  border-radius:22px;
  box-shadow:0 10px 30px rgba(0,0,0,.08);
  margin-bottom:25px;
}

.admin-header h1{
  color:#081126;
  margin-bottom:8px;
}

.admin-header p{
  color:#64748b;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 14px;
  margin-bottom: 25px;
}
.stat-card{
  background:#fff;
  padding:22px 18px;
  border-radius:20px;
  box-shadow:0 10px 30px rgba(0,0,0,.08);
  min-height:135px;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.stat-card h3{
  font-size:34px;
  color:#2563eb;
  margin-bottom:10px;
}

.stat-card p{
  color:#64748b;
  font-weight:700;
  font-size:14px;
  margin:0;
}

.dashboard-grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:25px;
}

.dashboard-card{
  background:#fff;
  padding:25px;
  border-radius:20px;
  box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.dashboard-card h2{
  margin-bottom:18px;
  color:#081126;
}

table{
  width:100%;
  border-collapse:collapse;
}

th,
td{
  padding:14px;
  text-align:left;
  border-bottom:1px solid #e5e7eb;
}

.pending,
.progress,
.completed{
  padding:6px 12px;
  border-radius:20px;
  font-size:13px;
  font-weight:800;
}

.pending{
  background:#fef3c7;
  color:#b45309;
}

.progress{
  background:#dbeafe;
  color:#2563eb;
}

.completed{
  background:#dcfce7;
  color:#15803d;
}

@media(max-width:1000px){
  .admin-page{
    flex-direction:column;
  }

  .admin-sidebar{
    width:100%;
  }

  .stats-grid,
  .dashboard-grid{
    grid-template-columns:1fr;
  }
}