<section class="service-details-page">

  <div class="back-section">
    <a routerLink="/services" class="back-btn">
      ← Back to Services
    </a>
  </div>

  <div *ngIf="isLoading">
    Loading service...
  </div>

  <div class="service-container" *ngIf="!isLoading && service">

    <div class="service-image">
      <img
        [src]="service.image ? imageBaseUrl + service.image : 'assets/images/categories/laptop.png'"
        [alt]="service.name">
    </div>

    <div class="service-info">

      <span class="service-badge">
        {{ service.category }}
      </span>

      <h1>{{ service.name }}</h1>

      <div class="service-meta">
        <p><strong>Category:</strong> {{ service.category }}</p>
        <p><strong>Duration:</strong> {{ service.duration || '-' }}</p>
        <p><strong>Starting Price:</strong> ₹{{ service.price }}</p>
        <p><strong>Status:</strong> {{ service.isActive ? 'Active' : 'Inactive' }}</p>
      </div>

      <p class="description">
        {{ service.description || 'Professional computer service support.' }}
      </p>


      <div class="buttons">
        <button class="book-btn" (click)="bookService()">
          Book Service
        </button>

        <a class="whatsapp-btn" href="https://wa.me/919789154220" target="_blank">
          WhatsApp
        </a>

        <a class="call-btn" href="tel:+919789154220">
          Call Now
        </a>
      </div>

    </div>

  </div>

</section>