<section class="booking-details-page">

  <div class="page-header">
    <h1>Booking Details</h1>
    <p>Complete information about your service request.</p>

    <a routerLink="/my-bookings" class="back-btn">
      ← Back to My Bookings
    </a>
  </div>

  <p *ngIf="isLoading">Loading booking...</p>

  <div class="details-card" *ngIf="!isLoading && booking">

    <div class="top-row">
      <h2>Booking ID: {{ bookingId }}</h2>

     <span class="status" [ngClass]="booking.status.toLowerCase()">
        {{ booking.status }}
      </span>
    </div>

    <div class="details-grid">
      <div>
        <h3>Customer Details</h3>
        <p><strong>Name:</strong> {{ booking.customerName }}</p>
        <p><strong>Mobile:</strong> {{ booking.phone }}</p>
        <p><strong>Email:</strong> {{ booking.email || '-' }}</p>
      </div>

      <div>
        <h3>Service Details</h3>
        <p><strong>Service:</strong> {{ booking.serviceName }}</p>
        <p><strong>Date:</strong> {{ booking.bookingDate | date:'dd MMM yyyy' }}</p>
        <p><strong>Time:</strong> {{ booking.bookingTime || '-' }}</p>
        <p><strong>Status:</strong> {{ booking.status }}</p>
      </div>
    </div>

    <div class="info-box">
      <h3>Address</h3>
      <p>{{ booking.address || '-' }}</p>
    </div>

    <div class="info-box">
      <h3>Problem Description</h3>
      <p>{{ booking.issueDescription || '-' }}</p>
    </div>

    <div class="actions">
      <a routerLink="/services" class="blue-btn">Book Another Service</a>

      <button
        *ngIf="booking.status === 'Pending'"
        class="cancel-btn"
        (click)="cancelBooking()">
        Cancel Booking
      </button>

      <a href="https://wa.me/919789154220" target="_blank" class="green-btn">
        WhatsApp Support
      </a>

      <a href="tel:+919789154220" class="dark-btn">
        Call Support
      </a>
    </div>

  </div>

</section>