<section class="cart-page">

<div class="page-header">
  <h1>Shopping Cart</h1>
  <p>Review your selected products before checkout.</p>

  <a routerLink="/products" class="back-btn">
    ← Back to Products
  </a>
</div>

  <div class="cart-container">

    <!-- Cart Items -->

    <div class="cart-items">
<div class="cart-card" *ngIf="showItem1">

        <img src="assets/images/products/gaming-pc.jpg" alt="Gaming PC">

        <div class="cart-details">
          <h3>Gaming Desktop PC</h3>
          <p>Intel Core i7 | 16GB RAM | 1TB SSD</p>

          <div class="price">
            ₹45,999
          </div>
        </div>
<div class="quantity">
  <button (click)="decrease(1)">-</button>

  <span>{{ quantity1 }}</span>

  <button (click)="increase(1)">+</button>
</div>

<button class="remove-btn" (click)="removeItem(1)">
  Remove
</button>

      </div>

     <div class="cart-card" *ngIf="showItem2">

        <img src="assets/images/products/gaming-pc.jpg" alt="Laptop">

        <div class="cart-details">
          <h3>Business Laptop</h3>
          <p>Intel Core i5 | 8GB RAM | 512GB SSD</p>

          <div class="price">
            ₹58,999
          </div>
        </div>

       <div class="quantity">
  <button (click)="decrease(2)">-</button>

  <span>{{ quantity2 }}</span>

  <button (click)="increase(2)">+</button>
</div>

<button class="remove-btn" (click)="removeItem(2)">
  Remove
</button>

      </div>

    </div>

    <!-- Summary -->

    <div class="cart-summary">

      <h2>Order Summary</h2>

      <div class="summary-row">
        <span>Subtotal</span>
        <span>₹104,998</span>
      </div>

      <div class="summary-row">
        <span>Delivery</span>
        <span>Free</span>
      </div>

      <div class="summary-row total">
        <span>Total</span>
        <span>₹104,998</span>
      </div>

      <a routerLink="/checkout" class="checkout-btn">
        Proceed to Checkout
      </a>

    </div>

  </div>

</section>